{% extends 'core/base.html' %}
{% load static %}
{% block contenido%}
<div id="carouselWithControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'core/img/imagenesindex/TPgrande_Classics_05_06_2023.png'%}" class="d-block w-100 carousel-image"
          alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="{% static 'core/img/imagenesindex/touttriple_homedesktop_enviogratis.png'%}" class="d-block w-100 carousel-image"
          alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="{% static 'core/img/imagenesindex/Historia secundaria Desktop_19_06.png'%}" class="d-block w-100 carousel-image"
          alt="Slide 3">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselWithControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselWithControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>


  <br>
  <br>

 


  <br>

  <div style="margin-left: 35px;">
    <h4>Zapatillas Exclusivas</h4>
  </div>

 
  <div class="container">
    <div class="row justify-content-center">
      {% for exclusiva in Exclusivas %}
      <div class="col-md-4 my-3">
        <a href="{% url 'zapatilla' id=exclusiva.id %}">
          <div class="shoe-container">
            {% if exclusiva.imagen %}
            <img src="{{exclusiva.imagen.url}}" alt="Zapatilla 1" class="img-fluid">
            {%else%}
            <img src="{% static 'core/img/no_image_found.jpg'%}" alt="Imagen no encontrada" class="img-fluid">
            {%endif%}
            <div class="shoe-name">{{exclusiva.nombre}}</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>


  <div style="margin-left: 35px;">
    <h4>Zapatillas Deportivas</h4>
  </div>

 
  <div class="container">
    <div class="row justify-content-center">
      {% for deportiva in Deportivas %}
      <div class="col-md-4">
        <a href="{% url 'zapatilla' id=deportiva.id %}">
          <div class="shoe-container">
            {% if deportiva.imagen %}
            <img src="{{deportiva.imagen.url}}" alt="Zapatilla 1" class="img-fluid">
            {%else%}
            <img src="{% static 'core/img/no_image_found.jpg'%}" alt="Imagen no encontrada" class="img-fluid">
            {%endif%}
            <div class="shoe-name">{{deportiva.nombre}}</div>
          </div>
        </a>
      </div>
      {% endfor %}
      
    </div>
    </div>
  </div>

  <br>
  <br>
{%endblock%}