{% extends 'core/base.html' %}
{% load static %}
{% block lanzamientos %}active{%endblock%}
{% block contenido%}

<div style="margin-left: 35px; margin-top:35px;">
    <h4>Estrenos recientes</h4>
</div>


<div class="container m-5">
    <div class="row justify-content-center">
    {% for reciente in Recientes %}
    <div class="col-md-4 my-3">
        <a href="{% url 'zapatilla' id=reciente.id %}">
        <div class="shoe-container">
            {% if reciente.imagen %}
            <img src="{{reciente.imagen.url}}" alt="Zapatilla 1" class="img-fluid">
            {%else%}
            <img src="{% static 'core/img/no_image_found.jpg'%}" alt="Imagen no encontrada" class="img-fluid">
            {%endif%}
            <div class="shoe-name">{{reciente.nombre}}</div>
        </div>
        </a>
    </div>
    {% endfor %}
    
    
    </div>
</div>



{% endblock %}