{% extends 'core/base.html' %}
{% load static %}
{% block contacto %} active {% endblock%}

{% block contenido%}

<div id="containerfotos" class="container mt-4">
    <h2>Nosotros</h2>
    <div class="photo-container">
        <img src="{% static 'core/img/Fotos nosotros/356365555_3600949866858761_8900894298804690112_n.jpg'%}"
            alt="Rounded circle image">
        <img src="{% static 'core/img/Fotos nosotros/272273369_1094393507976149_1638424623718993265_n.jpg'%}"
            alt="Rounded circle image">
        <img src="{% static 'core/img/Fotos nosotros/enzo.jpg'%}" alt="Rounded circle image">
    </div>
    <p>¡Hola! Somos un grupo de entusiastas estudiantes apasionados por las zapatillas y la moda urbana. Nuestro
        amor por el calzado nos ha llevado a crear una increíble página de venta de zapatillas, donde ofrecemos una
        amplia variedad de estilos y marcas para satisfacer los gustos de todos.</p>
    <p>En nuestra página, encontrarás una cuidadosa selección de zapatillas de última generación, desde los clásicos
        atemporales hasta los diseños más vanguardistas. Nos esforzamos por mantenernos actualizados con las últimas
        tendencias y colaboramos directamente con marcas reconocidas para brindarte lo mejor de lo mejor.</p>
    <p>Como estudiantes, entendemos la importancia de la calidad y el estilo al buscar las zapatillas perfectas para
        cada ocasión. Es por eso que nos aseguramos de ofrecer productos auténticos y originales, garantizando así
        la satisfacción de nuestros clientes. Nos enorgullece brindar una experiencia de compra fluida y segura, con
        envíos rápidos y un excelente servicio al cliente.</p>
    <p>Además de nuestra pasión por las zapatillas, también nos preocupa el impacto ambiental. Por ello, nos
        esforzamos por colaborar con marcas comprometidas con la sostenibilidad y la producción responsable. Creemos
        en un futuro en el que la moda y la conciencia ambiental pueden ir de la mano, y nos esforzamos por promover
        esa visión a través de nuestra plataforma.</p>
    <p>Nos encanta interactuar con nuestra comunidad de estudiantes y entusiastas de las zapatillas. En nuestra
        página, encontrarás contenido informativo y entretenido, desde reseñas de productos hasta consejos de estilo
        y entrevistas con personas influyentes en la industria. Queremos ser mucho más que una simple tienda;
        queremos ser un lugar donde puedas sumergirte en la cultura de las zapatillas y compartir tu pasión con
        otros.</p>
    <p>En resumen, somos un grupo de estudiantes apasionados por las zapatillas que ha creado una página de venta
        online donde puedes encontrar los modelos más increíbles y exclusivos. Nos preocupamos por la calidad, el
        estilo y el impacto ambiental, y nos esforzamos por brindar una experiencia de compra excepcional. Únete a
        nuestra comunidad y déjanos ser tu destino favorito para encontrar las zapatillas de tus sueños. ¡Te
        esperamos con los brazos abiertos!</p>
</div>
<br>
<br>
<br>
{% endblock %}