{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<div class="container">
    <div class="row">
      <div class="col-md-6 order-md-last justify-content-end">
        <div class="description text-center" style="background-color: rgba(117, 117, 117, 0.11); padding: 20px;">
        <h2>{{zapatilla.nombre}}</h2>
        <p>Marca {{zapatilla.marca}} | Categoria {{zapatilla.categoria}}</p>
        <h3>{{zapatilla.encabezado}}</h3>
        <p>{{zapatilla.descripcion}}</p>
        <ul>
            {% if zapatilla.info1 %}
            <li>{{zapatilla.info1}}</li>
            {% endif %}
            {% if zapatilla.info2 %}
            <li>{{zapatilla.info2}}</li>
            {% endif %}
            {% if zapatilla.info3 %}
            <li>{{zapatilla.info3}}</li>
            {% endif %}
        </ul>
          <h3>Precio ${{zapatilla.precio}}</h3>
          <h5>Pago en cuotas sin intereses con Santander</h5>
          <div class="size-buttons">
            <button class="btn btn-dark size-button" data-size="41">41</button>
            <button class="btn btn-dark size-button" data-size="42">42</button>
            <button class="btn btn-dark size-button" data-size="43">43</button>
            <button class="btn btn-dark size-button" data-size="44">44</button>
          </div>
          <button class="btn btn-dark" type="button">Agregar al carrito</button>
        </div>
      </div>
      <div class="col-md-6">
        <div id="carouselWithControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              {% if zapatilla.imagen %}
              <img src="{{zapatilla.imagen.url}}" class="d-block w-100" alt="Slide 1">
              {%else%}
              <img src="{% static 'core/img/no_image_found.jpg'%}" alt="Imagen no encontrada" class="img-fluid">
              {%endif%}
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselWithControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselWithControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}